<h1>Escolha um serviço</h1>

<div class="container-items">
        <a href="/auxilio-brasil" class="icon">
                <h2>Auxílio Brasil por Município</h2>
        </a>

        <a href="/auxilio-emergencial" class="icon">
               <h2>Auxílio Emergencial por CPF</h2>
        </a>

</div>